/* Custom property */
:root {
  /* colors */
  --gold-crayola: hsl(38, 61%, 73%);
  --quick-silver: hsla(0, 0%, 65%, 1);

  --first-color: hsla(204, 88%, 53%, 1);
  --second-color: hsla(204, 11%, 18%, 1);
  --grey-dark: hsla(204, 11%, 45%, 1);
  --grey-lite: hsla(205, 20%, 83%, 1);

  --blue-dark: hsl(237, 33%, 22%);
  --beige: hsla(44, 41%, 93%, 1);
  --ambar-dark: hsla(44, 88%, 53%, 1);
  --black-alpha-80: hsla(0, 0%, 0%, 0.8);
  --smoky-black-1: hsla(40, 12%, 5%, 1);

  --white: hsla(0, 0%, 100%, 1);

  --black: hsla(0, 0%, 0%, 1);

  /* Gradient */
  --loading-text-gradient: linear-gradient(
    90deg,
    transparent 0% 16.66%,
    var(--ambar-dark) 33.33% 50%,
    transparent 66.66% 75%
  );
  --gradient-1: linear-gradient(
    to top,
    hsla(0, 0%, 0%, 0.9),
    hsla(0, 0%, 0%, 0.7),
    transparent
  );

  /* TYPOGRAPHY */
  /* font-family */
  --fontFamily-poppins: "Poppins", sans-serif;

  /* font size */
  --fontSize-display-1: calc(1.3rem + 6.7vw);
  --fontSize-headline-1: calc(2rem + 2.5vw);
  --fontSize-headline-2: calc(1.3rem + 2.4vw);
  --fontSize-title-1: calc(1.6rem + 1.2vw);
  --fontSize-title-2: 2.2rem;
  --fontSize-title-3: 2.1rem;
  --fontSize-title-4: calc(1.6rem + 1.2vw);
  --fontSize-body-1: 2.4rem;
  --fontSize-body-2: 2rem;
  --fontSize-body-3: 1.8rem;
  --fontSize-body-4: 1.6rem;
  --fontSize-label-1: 1.4rem;
  --fontSize-label-2: 1.2rem;

  /* font-weight */
  --weight-small: 300;
  --weight-regular: 400;
  --weight-bold: 700;

  /* line-height */
  --lineHeight-1: 1em;
  --lineHeight-2: 1.2em;
  --lineHeight-3: 1.5em;
  --lineHeight-4: 1.6em;
  --lineHeight-5: 1.85em;
  --lineHeight-6: 1.4em;

  /* letter spacing */
  --letterSpacing-1: 0.15em;
  --letterSpacing-2: 0.4em;
  --letterSpacing-3: 0.2em;
  --letterSpacing-4: 0.3em;
  --letterSpacing-5: 3px;

  /* Spacing */
  --section-space: 70px;

  /* shadow */
  --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

  /* Border radius */
  --radius-24: 24px;
  --radius-circle: 50%;

  /* Transition */
  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --transition-3: 1000ms ease;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
img,
data,
span,
input,
button,
select,
ion-icon,
textarea {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
}

input,
button,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
}
input,
select,
textarea {
  width: 100%;
  outline: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background-color: var(--grey-lite);
  color: var(--first-color);
  font-family: var(--fontFamily-poppins);
  font-size: var(--fontSize-body-4);
  font-weight: var(--weight-small);
  line-height: var(--lineHeight-5);
  overflow: hidden;
  height: 300vh;
}

body.loaded {
  overflow: overlay;
}
body.nav-active {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--ambar-dark);
}

/* #Tipografia */
.display-1,
.headline-1,
.headline-2,
.title-1,
.title-2,
.title-3,
.title-4 {
  color: var(--white);
  font-weight: var(--weight-regular);
  line-height: var(--lineHeight-2);
}
.display-1 {
  font-size: var(--fontSize-display-1);
  line-height: var(--lineHeight-1);
}
.headline-1 {
  font-size: var(--fontSize-headline-1);
}
.headline-2 {
  font-size: var(--fontSize-headline-2);
  line-height: var(--lineHeight-6);
}
.title-1 {
  font-size: var(--fontSize-label-1);
}
.title-2 {
  font-size: var(--fontSize-label-2);
}
.title-3 {
  font-size: var(--fontSize-label-3);
}
.title-4 {
  font-size: var(--fontSize-label-4);
}
.body-1 {
  font-size: var(--fontSize-body-1);
  line-height: var(--lineHeight-6);
}
.body-2 {
  font-size: var(--fontSize-body-2);
  line-height: var(--lineHeight-4);
}
.body-3 {
  font-size: var(--fontSize-body-3);
}
.body-4 {
  font-size: var(--fontSize-body-4);
}
.label-1 {
  font-size: var(--fontSize-label-1);
}
.label-2 {
  font-size: var(--fontSize-label-2);
}
/* #Estilo reusable */
.container {
  padding-inline: 16px;
}
.separator {
  width: 8px;
  height: 8px;
  border: 1px solid var(--ambar-dark);
  transform: rotate(45deg);
}
.contact-label {
  font-weight: var(--weight-bold);
}
.contact-number {
  color: var(--ambar-dark);
  max-width: max-content;
  margin-inline: auto;
}
.hover-underline {
  position: relative;
  max-width: max-content;
}
.hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-block: 1px solid var(--section-space);
  transform: scaleX(0.2);
  opacity: 0;
  transition: var(--transition-2);
}
.hover-underline:is(:hover, :focus-visible)::after {
  transform: scaleX(1);
  opacity: 1;
}
.contact-number::after {
  bottom: -5px;
}
.text-center {
  text-align: center;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-subtitle {
  position: relative;
  color: var(--ambar-dark);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-2);
  margin-block-end: 12px;
}

.btn {
  position: relative;
  color: var(--ambar-dark);
  font-size: var(--fontSize-label-2);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-5);
  max-width: max-content;
  border: 2px solid var(--ambar-dark);
  padding: 12px 45px;
  overflow: hidden;
  z-index: 1;
}
.btn::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
  width: 200%;
  height: 200%;
  border-radius: var(--radius-circle);
  background-color: var(--ambar-dark);
  transition: var(--transition-2);
  z-index: -1;
}
.btn .text {
  transition: var(--transition-1);
}
.btn .text-2 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: max-content;
  color: var(--smoky-black-1);
}
.btn:is(:hover, :focus-visible)::before {
  bottom: -50%;
}
.btn:is(:hover, :focus-visible) .text-1 {
  transform: translateY(-40px);
}
/*+ #Preload +*/
.preload {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--blue-dark);
  z-index: 10;
  display: grid;
  place-content: center;
  justify-items: center;
  transition: var(--transition-2);
}

.preload > * {
  transition: var(--transition-1);
}

.preload.loaded > * {
  opacity: 0;
}

.preload.loaded {
  transition-delay: 250ms;
  transform: translateY(100%);
}
.circle {
  width: 112px;
  height: 112px;
  border-radius: var(--radius-circle);
  border: 3px solid var(--first-color);
  border-block-start-color: var(--second-color);
  margin-block-end: 45px;
  animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.preload .text {
  background-image: var(--loading-text-gradient);
  background-size: 500%;
  font-size: calc(2rem + 3vw);
  font-weight: var(--weight-bold);
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 16px;
  text-align: center;
  padding-inline-start: 16px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.5px var(--first-color);
  animation: loadingText linear 2s infinite;
}

@keyframes loadingText {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

/* TOPBAR */
.topbar {
  display: none;
  background-color: var(--first-color);
  color: var(--second-color);
}
/* "Header */
.header .btn {
  display: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding-block: 20px;
  z-index: 4;
  border-block-end: 1px solid transparent;
  transition: var(--transition-1);
}
.header.active {
  padding-block: 20px;
  background-color: var(--blue-dark);
  border-block: var(--grey-dark);
}
.header.hide {
  transform: translateY(-100%);
  transition-delay: 250ms;
}
.header .container {
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.logo_first {
  display: flex;
  line-height: 17.5px;
  align-items: center;
}
.logo_first img {
  width: 50px;
}
.name-first {
  font-weight: var(--weight-bold);
  font-size: var(--fontSize-body-2);
}
.description-logo {
  font-size: var(--fontSize-label-2);
}
.nav-open-btn {
  padding: 12px;
}
.nav-open-btn .line {
  width: 30px;
  height: 2px;
  background-color: var(--white);
  margin-block: 4px;
  transform-origin: left;
  animation: menuBtn 400ms ease-in-out alternate infinite;
}
@keyframes menuBtn {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.5);
  }
}
.nav-open-btn .line-2 {
  animation-delay: 150ms;
}
.nav-open-btn .line-3 {
  animation-delay: 300ms;
}
.navbar {
  position: fixed;
  background-color: var(--blue-dark);
  top: 0;
  left: -360px;
  bottom: 0;
  max-width: 360px;
  width: 100%;
  padding-inline: 30px;
  padding-block-end: 50px;
  overflow-y: auto;
  visibility: hidden;
  z-index: 2;
  transition: var(--transition-2);
}
.navbar.active {
  visibility: visible;
  transform: translateX(360px);
}
.navbar .close-btn {
  color: var(--ambar-dark);
  /* border: 1px solid currentColor; */
  /* padding: 4px; */
  /* border-radius: var(--radius-circle); */
  margin-inline-start: auto;
  /* margin-block: 30px 20px; */
}
.navbar .close-btn:is(:hover, :focus-visible) {
  color: var(--white);
}
.navbar .logo {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 40px;
}
.navbar-list {
  border-block-end: 1px solid var(--ambar-dark);
  margin-block-end: 50px;
}
.navbar-item {
  border-block-start: 1px solid var(--ambar-dark);
}
.navbar-link {
  position: relative;
  font-size: var(--fontSize-label-2);
  text-transform: uppercase;
  padding-block: 10px;
  max-width: unset;
}
.navbar-link::after {
  display: none;
}
.navbar-link:is(:hover, :focus-visible, .active) .span {
  transform: translateX(20px);
}
.navbar .separator {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(45deg);
  opacity: 0;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus-visible, .active) .separator {
  opacity: 1;
}
.navbar-title {
  margin-block-end: 15px;
}
.sidebar-link {
  transition: var(--transition-1);
}
.sidebar-link:is(:hover, :focus-visible) {
  color: var(--ambar-dark);
}
/* .navbar .text-center .separator {
  margin-block: 30px;
  margin-inline: auto;
} */
.navbar .text-center .social {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.fa-brands {
  font-size: 30px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--black-alpha-80);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-2);
  z-index: 1;
}
.overlay.active {
  opacity: 1;
  pointer-events: all;
}
